
<section class="outter hero-video">
    <section class="video-container">
      <video style="margin-top: 10vh;" src="../../../../../assets/8th-9th_vid.mp4" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Mentoring service that can aid students in exploring and selecting their best-fit educational direction and subjects.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/mentors">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Are you having trouble selecting the right academic stream for yourself?</p>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Unsure about which educational stream is the right fit for you? Science, arts or commerce? Need help identifying subjects you'll enjoy and the courses that these subjects will prepare you for? Trubuddyy is here to guide you towards your full potential. Let us help you find your ideal path and unlock your true potential.</p>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Don't let your marks determine what you should do with your life. Sign up for an Trubuddyy mentoring session and connect with professionals who have already walked the path you're trying to navigate. Let us help you discover who you truly are, finalize your education path, and identify the career choice that you will enjoy and excel in the most. With our guidance and support, you can take the first steps towards a fulfilling and successful future.</p>



