@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* Hero Video */
.outter.hero-video{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
  }
  @media (max-width: 767px) {
    .outter.hero-video{
    height: 325px;}
  }
  
  /* .hero-video { */
    
  .video-container {
    height: 550px;
    width:100%;
    position: relative;
    overflow: hidden;
   
  }
  @media (max-width: 767px) {
    .video-container{
    height: 325px;}
  }
  
  video {
    object-fit: cover; 
    position: absolute;
    height: 550px;
    width: 100%;
    /* top: 0; */
    left: 0;
    
  }

  @media (max-width: 767px) {
    video{
    height: 326px;}
  }
  
  .video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
  }
  
  h1 {
    /* text-transform: uppercase; */
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    color: white;
   
  }
  @media (max-width: 767px) {
    h1{
      margin-top: 10%;
    font-size: 26px
      }
 }

  @media (min-width: 768px) {
    h1{
    font-size: 52px;}
  }


  .desc{
    color: white;
    font-weight:400;
    font-size:18px;
  }
  
  .callout {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 70%;
    margin:auto;
   
  }

  @media (max-width: 767px) {
    .callout{
    width: 90%;}
  }
  
  .button {
    text-transform:uppercase;
    background-color:transparent;
    border-radius:0px;
    margin-top:20px;
    background-color:#82bb00;
    padding:15px 30px;
    border-radius:0px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
   
    }
    @media (max-width: 767px) {
        .button{
        padding: 10px 20px;}
      }

    .button:hover {
      cursor: pointer;
      background-color: #6e9e01;
    }

    p{
        text-align: center;
        font-size: 24px;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 2%;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
  