<!-- 
   <div class="context">
        <p><b>Mentoring service that can aid students in exploring and selecting their best-fit educational direction and subjects.</b></p> 
        <p>"Are you having trouble selecting the right academic stream for yourself?</p>
        <p>"Unsure about which educational stream is the right fit for you? Science, arts or commerce? Need help identifying subjects you'll enjoy and the courses that these subjects will prepare you for? Trubuddyy is here to guide you towards your full potential. Let us help you find your ideal path and unlock your true potential."</p>
        
    </div>


<div class="area" >
   <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
   </ul>
</div > -->
<!-- <div class="bg"></div>
<div class="context">
    <p><b>Mentoring service that can aid students in exploring and selecting their best-fit educational direction and subjects.</b></p> 
    <video width="" height="" controls>
        <source src="/src/assets/videos/firstVid.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    <p>Are you having trouble selecting the right academic stream for yourself?</p>
    <p>Unsure about which educational stream is the right fit for you? Science, arts or commerce? Need help identifying subjects you'll enjoy and the courses that these subjects will prepare you for? Trubuddyy is here to guide you towards your full potential. Let us help you find your ideal path and unlock your true potential.</p>
    <p>Don't let your marks determine what you should do with your life. Sign up for an Trubuddyy mentoring session and connect with professionals who have already walked the path you're trying to navigate. Let us help you discover who you truly are, finalize your education path, and identify the career choice that you will enjoy and excel in the most. With our guidance and support, you can take the first steps towards a fulfilling and successful future.
    </p>
    
</div> -->

<section class="outter hero-video">
    <section class="video-container">
      <video src="https://cdn.shopify.com/s/files/1/1463/8748/files/54ed8c2510027bcfd981767b551eb733.mp4?v=1591041687" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1>Mentoring for parents to discover their child's full potential by exploring the latest and correct career opportunities.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/mentors">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p>Help your child make the right & informed career choice.</p>
    <p>Empower your child to make informed decisions about their career with the help of our TRUBUDDYY Mentoring. Our mentors provide guidance and support to you and your child, help explore their interests, strengths, and different career options. With TRUBUDDYY, you and your child can make the right choice for their future.</p>
    <p>Don't leave your child’s future to faith or grades alone. Invest in Trubuddyy mentoring to uncover your child’s true potential and find the career path that's right for them. With the help of experienced professionals and mentors, you both can gain a better understanding of your child’s strengths and passions, and make informed decisions that will set them up for success in the long run.</p>



