<div style="background-color: rgb(249, 212, 218)">
  <h1
    style="
      margin-top: 10vh;
      font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
      text-align: center;
      padding-top: 6vh;
      font-size: 54px;
      color: rgb(41, 41, 82);
    "
  >
    Meet Our Mentors!
  </h1>
  <p
    style="
      margin-top: 5vh;
      text-align: center;
      margin-left: 1%;
      margin-bottom: 2%;
      color: rgb(129, 40, 22);
      font-size: 24px;
    "
  >
    <b
      >Grow and Learn with the guidance from our community of world class
      professionals working as mentors to help you in your career journey.</b
    >
  </p>

  <form style=" ">
    <thead>
      <tr>
        <th>
          <label style="padding-left: 3%" for="name">Name</label>
        </th>
        <th>
          <label style="padding-left: 3%" for="job">Profession</label>
        </th>
        <th>
          <label style="padding-left: 3%" for="degree">Degree</label>
        </th>
        <th>
          <label style="padding-left: 3%" for="company">Company </label>
        </th>
        <th>
          <label style="padding-left: 3%" for="school"
            >School/University
          </label>
        </th>
        <th>
          <label style="padding-left: 3%" for="university">Board </label>
        </th>
        <!-- <th>
    <label style="padding-left: 3%" for="company">Company </label>
  </th>
  <th>
    <label style="padding-left: 3%" for="company">Company </label>
  </th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input
          style="width: 95%;"
            type="text"
            id="name"
            name="name"
            [(ngModel)]="name"
          />
        </td>
        <td>
          <input type="text" id="job" style="width: 95%;" name="job" [(ngModel)]="job" />
        </td>
        <td>
          <input type="text" id="degree" style="width: 95%;" name="degree" [(ngModel)]="degree" />
        </td>
        <td>
          <input
          style="width: 95%;"
            type="text"
            id="company"
            name="company"
            [(ngModel)]="company"
          />
        </td>
        <td>
          <input type="text" style="width: 95%;" id="school" name="school" [(ngModel)]="school" />
        </td>
        <td>
          <input type="text" id="board" style="width: 90%;" name="board" [(ngModel)]="board" />
        </td>
        <button
      style="
        
        background-color: #ffff;
        width: 100%;
        font-size: 18px;
      "
      type="submit"
      (click)="onSearchSubmit()"
    >
      Search
    </button>
        
        
      </tr>
      
    </tbody>
  </form>

  <div class="container" style="margin-top: 3%">
    <div class="row">
      <div class="row">
        <div
          *ngFor="let item of items"
          class="row col-15 col-sm-6 col-md-4 col-lg-3"
          style="margin-right: 1%"
        >
          <div class="our-team">
            <div class="picture">
              <a (click)="showPersonDetails(item.id)"
                ><img
                  class="img-fluid"
                  src="{{ 'data:image/jpeg;base64,' + item.profile_pic }}"
              /></a>
            </div>
            <div class="team-content">
              <h3 class="name">{{ item.full_name }}</h3>
              <h4 class="title"></h4>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <h2>Commerce</h2>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <a href="/tru/MentorInfo"
              ><img
                class="img-fluid"
                src="https://picsum.photos/130/130?image=1027"
            /></a>
          </div>
          <div class="team-content">
            <h3 class="name">Michele Miller</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="https://picsum.photos/130/130?image=839"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Patricia Knott</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="https://picsum.photos/130/130?image=856"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Justin Ramos</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="https://picsum.photos/130/130?image=836"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="our-team">
          <div class="picture">
            <img
              class="img-fluid"
              src="https://picsum.photos/130/130?image=836"
            />
          </div>
          <div class="team-content">
            <h3 class="name">Mary Huntley</h3>
            <h4 class="title">Web Developer</h4>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  </div>
</div>
