<div class="jumbotron jumbotron-fluid">
    <div class="contain">
      <p class="" style="font-size: 74px; color: rgb(53, 53, 83);"><b>FAQs</b></p>
    </div>
  </div>
  
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="panel-group"
          id="accordion"
          role="tablist"
          aria-multiselectable="true"
        >
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  How does Trubuddyy work?
                </a>
              </h4>
            </div>
            <div
              id="collapseOne"
              class="panel-collapse collapse in"
              role="tabpanel"
              aria-labelledby="headingOne"
            >
              <div class="panel-body">
                At Trubuddyy, you have the opportunity to converse with
                experienced professionals who have traversed the path that you
                aspire to take. These knowledgeable individuals are referred to as
                'Mentors'.<br />
                Trubuddyy offers the opportunity to engage in a one-on-one
                conversation with a Mentor of your choice. You can simply log in
                to the website, browse through the available Mentors, and schedule
                a video conversation with the one that best fits your needs.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapsetwo"
                  aria-expanded="true"
                  aria-controls="collapsetwo"
                >
                  Who are the Mentor’s?
                </a>
              </h4>
            </div>
            <div
              id="collapsetwo"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingTwo"
            >
              <div class="panel-body">
                Mentors on Trubuddyy are experts in their respective fields, with
                diverse educational backgrounds and professional experiences. They
                are accomplished individuals who have come together to share their
                knowledge and insights with others. Trubuddyy is a community of
                mentors from various walks of life, ranging from chartered
                accountants to fashion designers to sports personalities.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseThree"
                  aria-expanded="true"
                  aria-controls="collapseThree"
                >
                  Are Trubuddyy conversations paid?
                </a>
              </h4>
            </div>
            <div
              id="collapseThree"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingThree"
            >
              <div class="panel-body">
                Indeed, all one-on-one conversations on Trubuddyy require payment.
                We believe that it's essential to value a professional's time and
                compensate them monetarily for their expertise. We are of the
                opinion that paying a nominal fee is worthwhile since it can save
                your valuable time and provide you with accurate information from
                the right person so that you can have a long successful career.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFour"
                  aria-expanded="true"
                  aria-controls="collapseFour"
                >
                  How does a Mentor conversation help?
                </a>
              </h4>
            </div>
            <div
              id="collapseFour"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFour"
            >
              <div class="panel-body">
                Speaking with a mentor can be highly beneficial in various ways.
                As mentors have already traversed the path that you aspire to
                follow, they can relate to your situation and comprehend your
                perspective. Therefore, conversations with mentors are not only
                free of judgment but also highly productive, allowing you to share
                ideas, receive feedback, gain unique insights, and engage in
                effective brainstorming sessions.
              </div>
            </div>
          </div>
  
          <!-- <h2>1-on-1 Conversations</h2> -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFive"
                  aria-expanded="true"
                  aria-controls="collapseFive"
                >
                  What can I talk about in a 1-on-1 Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseFive"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFive"
            >
              <div class="panel-body">
                Trubuddyy provides a platform where you can have a conversation
                about anything related to your career and education, including
                your studies, work experiences, and different courses, among other
                educational topics. However, it is important to note that the
                conversations should remain focused on career and
                education-related questions, and thus personal questions are not
                allowed.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSix"
                  aria-expanded="true"
                  aria-controls="collapseSix"
                >
                  What happens after I book a 1-on-1 Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseSix"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingSix"
            >
              <div class="panel-body">
                After you have booked a conversation on Trubuddyy, we will send
                you a confirmation email. Additionally, you will receive an email
                with an invitation link that you are required to click on at the
                scheduled time of the conversation. Please note that neither
                party's contact information (including email or phone number) is
                shared before or after the conversation.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSeven"
                  aria-expanded="true"
                  aria-controls="collapseSeven"
                >
                  What happens in a 1-on-1 Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseSeven"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingSeven"
            >
              <div class="panel-body">
                The 1-on-1 conversations on video are usually 45 minutes long and
                do not have a fixed structure. You are free to discuss any career
                or education related doubts that are on your mind which you need
                help on. <br />
  
                We encourage that conversations remain organic and take their
                natural course. No prior preparation is needed!
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseEight"
                  aria-expanded="true"
                  aria-controls="collapseEight"
                >
                  How do I select a Mentor?
                </a>
              </h4>
            </div>
            <div
              id="collapseEight"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingEight"
            >
              <div class="panel-body">
                To select the right Mentor on trubuddyy, it is recommended to find
                someone who has studied in the field you are interested in and has
                some similarities to you. You can use the search bar on the
                website to find Mentors with specific degrees and choose from the
                search results. It's important to take note of the Mentor's age,
                languages spoken, and relevant experiences before booking a
                conversation with them.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseNine"
                  aria-expanded="true"
                  aria-controls="collapseNine"
                >
                  What can I talk about in a 1-on-1 Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseNine"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingNine"
            >
              <div class="panel-body">
                Trubuddyy provides a platform where you can have a conversation
                about anything related to your career and education, including
                your studies, work experiences, and different courses, among other
                educational topics. However, it is important to note that the
                conversations should remain focused on career and
                education-related questions, and thus personal questions are not
                allowed.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTen"
                  aria-expanded="true"
                  aria-controls="collapseTen"
                >
                  What happens if I am unable to make it for a Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseTen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingTen"
            >
              <div class="panel-body">
                While we understand that there may be circumstances that prevent
                you from attending a scheduled conversation, we do not offer
                refunds as we want to respect our mentors' time.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseEleven"
                  aria-expanded="true"
                  aria-controls="collapseEleven"
                >
                  What happens after a 1-on-1 Conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseEleven"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingEleven"
            >
              <div class="panel-body">
                We value your feedback on Trubuddyy conversations and will send
                you a feedback form via email. Additionally, you are welcome to
                book another conversation slot with the same Mentor or a different
                Mentor for the same or different course.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseTwelve"
                  aria-expanded="true"
                  aria-controls="collapseTwelve"
                >
                  Is what I discuss kept confidential?
                </a>
              </h4>
            </div>
            <div
              id="collapseTwelve"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingTwelve"
            >
              <div class="panel-body">
                All conversations, interactions, and observations with Mentors on
                Trubuddyy are kept confidential and private. During the
                conversations, both the Mentor and you may share personal
                experiences, and it is important to keep the content of the
                conversation limited to just the two of you. No contact
                information, such as email or phone number, is shared before or
                after the conversation to maintain privacy.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseThirteen"
                  aria-expanded="true"
                  aria-controls="collapseThirteen"
                >
                  Can I have an in-person conversation?
                </a>
              </h4>
            </div>
            <div
              id="collapseThirteen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingThirteen"
            >
              <div class="panel-body">
                Currently all Mentor conversations on Trubuddyy are done online
                via Zoom.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFourteen"
                  aria-expanded="true"
                  aria-controls="collapseFourteen"
                >
                  Can we chat 1-on-1 with a Mentor?
                </a>
              </h4>
            </div>
            <div
              id="collapseFourteen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFourteen"
            >
              <div class="panel-body">
                The option to chat with your mentor will only be available after
                you have booked a session with them. The chat feature will only be
                accessible 24 hours before the scheduled video call.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseFifteen"
                  aria-expanded="true"
                  aria-controls="collapseFifteen"
                >
                  What if I don’t get a relevant person to talk to?
                </a>
              </h4>
            </div>
            <div
              id="collapseFifteen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingFifteen"
            >
              <div class="panel-body">
                In case you cannot find a suitable Mentor on our platform, you can
                reach out to us by filling out the form on the "Contact Us" page
                or sending us a message on WhatsApp. We will do our best to find a
                relevant Mentor for you from our extended network and then offer
                you a free session.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSixteen"
                  aria-expanded="true"
                  aria-controls="collapseSixteen"
                >
                  How can I know if the Mentor experience is genuine?
                </a>
              </h4>
            </div>
            <div
              id="collapseSixteen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingSixteen"
            >
              <div class="panel-body">
                Each Mentor on Trubuddyy fills out a comprehensive form that
                describes their professional journey, along with other essential
                details about themselves. Furthermore, we conduct a verification
                video call with them to comprehend their motivation for becoming a
                Mentor and to discuss their education and experience.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a
                  class="collapsed"
                  data-toggle="collapse"
                  data-parent="#accordion"
                  href="#collapseSeventeen"
                  aria-expanded="true"
                  aria-controls="collapseSeventeen"
                >
                  What if I don’t get my required slots?
                </a>
              </h4>
            </div>
            <div
              id="collapseSeventeen"
              class="panel-collapse collapse"
              role="tabpanel"
              aria-labelledby="headingSeventeen"
            >
              <div class="panel-body">
                In case you are unable to find a suitable Mentor for a specific
                time slot, you can reach out to us through the WhatsApp widget on
                the website. We will reach out to relevant Mentors and inquire if
                they are available for a conversation during the required time
                slots.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
