<div class="Fullcard" style="background-color: #f6cfcf;">
  <div class="boxFloat" >
    <div class="row"></div>
    <div class="">
      <div class="content">
        <div class="main">
          <div class="card" style="margin-top: 2%;">
            <div >
              <a 
              ><img
                class="img-fluid"
                src="{{'data:image/jpeg;base64,'+person.profile_pic}}"
                style="
                 
                background-size: cover;
                box-shadow: 0px 5px 10px 0px rgb(129, 129, 129);
              "
                
            /></a>
              <p>
                <b>{{person.name}}</b>
              </p>
            </div>
            <div class="card-body">
              <i class="fa fa-pen fa-xs edit"></i>
              <table>
                <tbody>
                  <tr>
                    <td>School(10th)</td>
                    <td>:</td>
                    <td>{{person.school_education[0].school}}  ||  Marks: {{person.school_education[0].marks}}</td><br>
                  </tr>
                  <tr>
                    <td>School(12th)</td>
                    <td>:</td>
                    <td>{{person.school_education[1].school}} || Marks: {{person.school_education[1].marks}}</td>
                  </tr>
                  <tr>
                    <td>Graduation</td>
                    <td>:</td>
                    <td>{{person.higher_education[0].school}} || Marks: {{person.higher_education[0].marks}}</td>
                  </tr>
                  <tr>
                    <td>Post Graduation</td>
                    <td>:</td>
                    <td>{{person.higher_education[1].school}} || Marks: {{person.higher_education[1].marks}}</td>
                  </tr>


                  <tr>
                    <td>Experiances</td>
                    
                    <td>:</td>
                    <td *ngFor="let experience of workData">Company: {{experience.company}} <br> Role: {{experience.description}} <br></td>
                  
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button (click)="showPersonDetails(person.id)" style="text-decoration: none; color: white" class="">
      <b>Book 1:1 session</b>
  </button>

  <!-- <div class="row">
    <div class="testimonial">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="testimonial-cards">
         
          <div class="review">
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-right: 100%;
              "
            >
              &ldquo;
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Pretium fusce id velit ut tortor.
            </p>
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-left: 100%;
              "
            >
              &rdquo;
            </div>
            <p style="margin-right: 100%">Mayur</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="testimonial-cards">
        
          <div class="review">
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-right: 100%;
              "
            >
              &ldquo;
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Pretium fusce id velit ut tortor.
            </p>
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-left: 100%;
              "
            >
              &rdquo;
            </div>
            <p style="margin-right: 100%">Mayur</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="testimonial-cards">
         
          <div class="review">
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-right: 100%;
              "
            >
              &ldquo;
            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Pretium fusce id velit ut tortor.
            </p>
            <div
              style="
                font-size: 44px;
                color: rgb(240, 186, 37);
                margin-left: 100%;
              "
            >
              &rdquo;
            </div>
            <p style="margin-right: 100%">Mayur</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
