<!-- 
<div class="context">
    <h1>Pure Css Animated Background</h1>
</div>


<div class="area" >
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div > -->

<!-- <div class="bg"></div>
<div class="context">
    <p><b>Mentoring for students to explore and discover their ideal academic path. </b></p>
    

    <video width="" height="" controls>
        <source src="/src/assets/videos/firstVid.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    <p>Make an informed decision about which course is the right one for you.</p>
    <p>Are you wondering which subjects to choose after class 10? Or which degree course to pursue after class 12? Are you confused about which entrance exams to prepare for? Let Trubuddyy guide you towards the path that brings out your best potential. </p>
    <p>Don't let external factors like grades, parents or friends determine your career path. Join TRUBUDDYY's mentoring session with Professionals and Mentors who have already been through the journey that you are embarking on. Get clarity on your educational path and discover the career that aligns with your strengths and passions for maximum success.
    </p>
    
</div> -->

<section class="outter hero-video">
    <section class="video-container">
      <video src="https://cdn.shopify.com/s/files/1/1463/8748/files/54ed8c2510027bcfd981767b551eb733.mp4?v=1591041687" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1>Mentoring for parents to discover their child's full potential by exploring the latest and correct career opportunities.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/testing">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p>Help your child make the right & informed career choice.</p>
    <p>Empower your child to make informed decisions about their career with the help of our TRUBUDDYY Mentoring. Our mentors provide guidance and support to you and your child, help explore their interests, strengths, and different career options. With TRUBUDDYY, you and your child can make the right choice for their future.</p>
    <p>Don't leave your child’s future to faith or grades alone. Invest in Trubuddyy mentoring to uncover your child’s true potential and find the career path that's right for them. With the help of experienced professionals and mentors, you both can gain a better understanding of your child’s strengths and passions, and make informed decisions that will set them up for success in the long run.</p>
  
