<!-- 
<div class="context">
    <h1>Pure Css Animated Background</h1>
</div>


<div class="area" >
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div > -->

<!-- <div class="bg"></div>
<div class="context">
    <p><b>Mentoring for students to explore and discover their ideal academic path. </b></p>
    

    <video width="" height="" controls>
        <source src="/src/assets/videos/firstVid.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    <p>Make an informed decision about which course is the right one for you.</p>
    <p>Are you wondering which subjects to choose after class 10? Or which degree course to pursue after class 12? Are you confused about which entrance exams to prepare for? Let Trubuddyy guide you towards the path that brings out your best potential. </p>
    <p>Don't let external factors like grades, parents or friends determine your career path. Join TRUBUDDYY's mentoring session with Professionals and Mentors who have already been through the journey that you are embarking on. Get clarity on your educational path and discover the career that aligns with your strengths and passions for maximum success.
    </p>
    
</div> -->

<section class="outter hero-video">
    <section class="video-container">
      <video style="margin-top: 10vh;" src="../../../../../assets/10-12_vid.mp4" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Mentoring for students to explore and discover their ideal academic path.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/testing">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Make an informed decision about which course is the right one for you.</p>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Are you wondering which subjects to choose after class 10? Or which degree course to pursue after class 12? Are you confused about which entrance exams to prepare for? Let Trubuddyy guide you towards the path that brings out your best potential.
    </p>
    <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Don't let external factors like grades, parents or friends determine your career path. Join TRUBUDDYY's mentoring session with Professionals and Mentors who have already been through the journey that you are embarking on. Get clarity on your educational path and discover the career that aligns with your strengths and passions for maximum success.</p>
  
