<p style="margin: auto; margin-top: 8%; margin-bottom: 2%">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium impedit
  aliquam et explicabo dolor, expedita eius temporibus eaque autem sint eos
  nesciunt ipsa laboriosam sequi quidem nostrum veritatis rem. Vel numquam,
  magnam perferendis itaque dolore consequuntur expedita perspiciatis
  voluptatibus neque vitae accusamus obcaecati nobis, repudiandae fuga eveniet
  sint, pariatur repellat.
</p>
<h3 style="text-align: center">WHY JOIN THE NETWORK</h3>
<div class="container my-5">
  <div class="row" style="margin-bottom: 1.5%">
    <div class="col-lg-6">
      <img class="w-100 shadow" src="https://via.placeholder.com/824x552" />
    </div>
    <div class="col-lg-6">
      <div class="p-5 mt-4">
        <h1 class="display-4">01</h1>
        <p class="lead">
          Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
          Doubloon careen code of conduct lugsail hulk ye long clothes.
        </p>
      </div>
    </div>
    <!-- <div class="reverse"> -->
    <div class="row" style="flex-direction: row-reverse; margin-bottom: 1.5%">
      <div class="col-lg-6">
        <img class="w-100 shadow" src="https://via.placeholder.com/824x552" />
      </div>
      <div class="col-lg-6">
        <div class="p-5 mt-4">
          <h1 class="display-4">02</h1>
          <p class="lead">
            Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
            Doubloon careen code of conduct lugsail hulk ye long clothes.
          </p>
        </div>
      </div>
      <!-- </div> -->
      <div class="row">
        <div class="col-lg-6">
          <img class="w-100 shadow" src="https://via.placeholder.com/824x552" />
        </div>
        <div class="col-lg-6">
          <div class="p-5 mt-4">
            <h1 class="display-4">03</h1>
            <p class="lead">
              Crow's nest schooner ho scallywag hail-shot gabion salmagundi.
              Doubloon careen code of conduct lugsail hulk ye long clothes.
            </p>
            <!-- <a href="#" class="btn btn-outline-dark">Read More</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Join Our growing Mentor Network!</h2>

<button class="learn-more">
    <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
    </span>
    <span class="button-text">Get started</span>
  </button>
