@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
.content {
    height: 100%;
    /* display: flex; */
    align-items: center;
    padding: 35px 0px;
    /* margin-left: 5%; */
  }
  .img {
    min-height: 320px;
    height: 80%;
    border-radius: 10px;
    width: 75%;
    margin-left: 1%;
  }
  .content p {
    font-size: 56px;
  }
  .half-half-image-text{
    /* padding: 70px 0px; */
  }

.boxFloat{
   margin-left: 3%;
   margin-right: 3%;
}

.head{
 text-align: center;  
 /* margin-top: 2%;  */
}
.boxFloat .row{
    /* margin-bottom: 5%; */
}

.text p{
    font-size: 28px;
    text-align: center;
}

html
{
	padding: 0 10px;
	/* font-family: Calibri, sans-serif; */
  font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;
}

body
{
	margin: auto;
	max-width: 75%;
}

img
{
	/* max-width: 100%; */
  
}
.wording p{
    font-size: 18px;
    margin-left: 3%;
    
}

.wording{
 
}

.image
{

    
}

@media (min-width: 768px)
{
	.image
	{
		display: flex;
		align-items: center;
	}
  .one{
    /* background-color: aqua; */
  }

	.image img
	{
		/* margin-right: 1%; */
		float: left; 
	}
	.image::after
	{
		content: "";
  	display: block;
		clear: both;
	}
}

@media(max-width:768px){
  .image{
    display: block;
    text-align: center;
  }
}

@media (min-width: 30em)
{
	.image img, .image-right img
	{
		flex-shrink: 0;
	}
}

.bg{
    background-color: #f19a70;
    display: flex;
    /* flex-direction: column; */

    padding-top: 45px;
    margin-top: 1%;
    padding-bottom: 20px;
}

.team{
  padding-bottom: 3%;
}

.team-img img {
    /* width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-out 0s; */
  }
  .team-img {
    overflow: hidden;
  }
  .team img{
    border-radius: 5px;
    /* clip-path: circle(); */
  }
  .team-div{
    text-align: center;
  }
.row{
    /* margin-left: 10%; */
    margin-right: 10%;
}
.col-md-3{
    margin-top: 4%;
}
.team h1{
    /* margin-top: 4%;
    text-align: center; */
}

.half-half-image-text{
  margin-top: 3%;
}

@media (max-width:768px){
  .img{
    width: 100%;
   
  }
  .bg{
    width: 100%;
  
  }
  .wording{
    width: 100%;
    float: left;
    flex-direction: column;
  }

}