<!-- 
<div class="context">
    <h1>Pure Css Animated Background</h1>
</div>


<div class="area" >
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div > -->
<section class="outter hero-video">
    <section class="video-container">
      <video style="margin-top: 10vh;" src="../../../../../assets/parents_vid.mp4" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1>Mentoring for parents to discover their child's full potential by exploring the latest and correct career opportunities.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/mentors">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p>Help your child make the right & informed career choice.</p>
    <p>Empower your child to make informed decisions about their career with the help of our TRUBUDDYY Mentoring. Our mentors provide guidance and support to you and your child, help explore their interests, strengths, and different career options. With TRUBUDDYY, you and your child can make the right choice for their future.</p>
    <p>Don't leave your child’s future to faith or grades alone. Invest in Trubuddyy mentoring to uncover your child’s true potential and find the career path that's right for them. With the help of experienced professionals and mentors, you both can gain a better understanding of your child’s strengths and passions, and make informed decisions that will set them up for success in the long run.</p>
