<div style="background-color: #f7f7f7;">
<section class="outter hero-video">
  <section class="video-container">
    <video
      style="margin-top: 10vh"
      src="../../../../../assets/proffesional_vid.mp4"
      autoplay
      loop
      playsinline
      muted
    ></video>
    <div class="callout">
      <h1
        style="
          font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
            Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important; margin-top: 10vh;
        "
      >
        Mentoring for Working Professionals to advance in their career on the
        right track.
      </h1>
      <!-- <div class="desc">An optional description</div> -->
      <a class="button" href="/tru/mentors" style="margin-top: 20%"
        >Book 1:1 session</a
      >
    </div>
  </section>
</section>
<p
  style="
    font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
    font-size: 34px;
    color: rgb(43, 43, 134);
  "
>
  Redefine your GROWTH TRAJECTORY
</p>

<p
  style="
    font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
      Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
    margin-left: 5%;
    margin-right: 5%;
  "
>
  Are you looking to advance your career but unsure about the next steps?<br />
  Are you interested in exploring New Job opportunities that align with your
  current skills? <br />Or are you considering a complete career change?<Br />
  <b>
    Let Trubuddyy guide you in redefining your career trajectory to achieve
    success.</b
  >
</p>
<img
  style="
    text-align: center;
    align-items: center;
    margin-left: 17%;
    width: 65%;
    height: 65%;
  "
  src="../../../../../assets/professional_chart.jpg"
/>
<div class="callout">
  <a class="button" href="/tru/mentors" style="margin-top: 3%;  margin-bottom: 7%;"
  >Book 1:1 Mentoring session</a
>
</div>
</div>
