<div class="full">
  <nav class="navbar navbar-fixed">
    <div class="">
      <!-- lg  -->
      <!-- LOGO -->
      

      <ul class="nav-links">
        <div class="two" style="width: 100%; background-color: #574D4D">
          <a class="logo" href="tru/home" style=""
            ><img
              src="../../../../../assets/Component 1tru-icon1.png"
              style="width: 65%; margin-left: 0;"
          /></a>
        </div>
        <!-- USING CHECKBOX HACK -->
        <input type="checkbox" id="checkbox_toggle"  />
        <label for="checkbox_toggle" style="width: 100%; background-color: #574D4D; color: #ffff;" class="hamburger">&#9776;</label>
        <div class="main">
          <li class="services">
            <a class="dropdown-toggle">I AM A</a>

            <!-- DROPDOWN MENU -->
            <ul class="dropdown">
              <li><a href="tru/eightTOnine">8th-9th student </a></li>
              <li><a href="tru/tenTOtwelth">10th-12th student</a></li>
              <li><a href="tru/graduates">Collage Graduate</a></li>
              <li><a href="tru/professional">Working Proffesional</a></li>
              <li><a href="tru/parent">Parent</a></li>
            </ul>
          </li>

          <li><a href="tru/mentors">MENTORS</a></li>
          <li><a href="tru/HowItWorks">HOW IT WORKS</a></li>

          <li>
            <a href="login" (click)="Logout()">{{ login_logout_name }}</a>
          </li>
          <li>
            <a href="tru/mentee_dashboard"><i class="fa fa-fw fa-user"></i></a>
          </li>
        </div>
      </ul>
    </div>

    <div class="menu">
      <!-- NAVIGATION MENU -->
      <ul class="nav-links">
        <!-- USING CHECKBOX HACK -->
        <!-- <input type="checkbox" id="checkbox_toggle" />
        <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->

        <!-- NAVIGATION MENUS -->
        <div class="menu">
          <a class="" href="tru/home"
            ><img
              src="../../../../../assets/Component 1tru-icon1.png"
              style="width: 250px"
          /></a>

          <div class="group">
            <li class="services">
              <a class="dropdown-toggle"><b>I AM A</b></a>

              <!-- DROPDOWN MENU -->
              <ul class="dropdown">
                <li><a href="tru/eightTOnine">8th-9th student </a></li>
                <li><a href="tru/tenTOtwelth">10th-12th student</a></li>
                <li><a href="tru/graduates">Collage Graduate</a></li>
                <li><a href="tru/professional">Working Proffesional</a></li>
                <li><a href="tru/parent">Parent</a></li>
              </ul>
            </li>

            <li>
              <a href="tru/mentors"> <b> MENTORS</b></a>
            </li>
            <li>
              <a href="tru/HowItWorks" style="white-space: nowrap"
                ><b> HOW IT WORKS</b></a
              >
            </li>

            <div class="" (click)="Logout()">
              <li>
                <a href="login">
                  <b style="color: white">{{ login_logout_name }}</b>
                </a>
              </li>
            </div>

            <div class="">
              <li>
                <a href="tru/mentee_dashboard"
                  ><i class="fa fa-fw fa-user"></i
                ></a>
              </li>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </nav>
</div>
