<div class="half-half-image-text">
    <h1 class="head">How it works?</h1>
    <div class="boxFloat">  
      <div class="row">
        <div class="col-12">
          <!-- <h1>Our Mission</h1> -->
        </div>
      </div>
      <div class="row" >
        <div class="col-12 col-lg-6">
            <div class="img" style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
          </div>
        <div class="col-12 col-lg-6">
          <div class="content">
            
            <p> <b>SIGN UP WITH TRUBUDDYY</b>
            <br><br>
            Fill out your personal information, including your grade level, school and or college, age, interests, likes and dislikes, strengths and weaknesses and other relevant details. This will help our mentors understand you better and provide you with the best guidance possible.
            </p>
            
          </div>
        </div>
        
      </div>
      <!-- first end  -->
      <div class="row" >
        <div class="col-12 col-lg-6">
          <div class="content">
            <p><b>FIND A PROFESSIONAL AS A MENTOR</b><br><br>Explore from a diverse group of verified mentors with experience from various fields, and select the one you believe will best assist you in resolving your concerns.</p>
            
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="img" style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
        </div>
      </div>

          <!-- second end  -->
      <div class="row">
        <div class="col-12 col-lg-6">
            <div class="img" style="background: url('https://images.pexels.com/photos/89784/bmw-suv-all-terrain-vehicle-fog-89784.jpeg?cs=srgb&dl=automobile-bmw-car-89784.jpg&fm=jpg')no-repeat center;background-size:cover;"></div>
          </div>
        <div class="col-12 col-lg-6">
          <div class="content">
            <p><b>BOOK A MENTORING SESSION
            </b><br><br>The final step is to schedule a session with the mentor of your choice who will share their knowledge and expertise with you. As experts in their respective fields, they will provide you with first-hand information and help you find solutions to your problems.</p>
            
          </div>
        </div>
        
      </div>
      
    </div>
      </div>

