
<div class="card" >
    <!-- <img src="profile-picture.jpg" alt="" /> -->
    <img src={{userData.profile_pic}} alt="" class="card-image">
    <div class="profile-info">
      <h2>{{userData.first_name}} {{userData.last_name}}</h2>
      <p>{{userData.i_am_a}}</p>
      <p>Phone: {{userData.username}}</p>
      <p>Email: {{userData.email}}</p>
	  <br><br>
	  <button><a href="tru/my-profile" style="color: white; text-decoration: none;">My Profile</a></button>
    </div>
    
	
</div>

  <div class="container">

	<h2 style="text-align: center; margin-top: 3%;"> Upcoming Sessions</h2>
	
	<table class="responsive-table">
		
		<thead class="responsive-table__head">
			<tr class="responsive-table__row">
				<th class="responsive-table__head__title responsive-table__head__title--name">Month
					<!-- <svg version="1.1" class="up-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
						<path d="M374.176,110.386l-104-104.504c-0.006-0.006-0.013-0.011-0.019-0.018c-7.818-7.832-20.522-7.807-28.314,0.002c-0.006,0.006-0.013,0.011-0.019,0.018l-104,104.504c-7.791,7.829-7.762,20.493,0.068,28.285    c7.829,7.792,20.492,7.762,28.284-0.067L236,68.442V492c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V68.442l69.824,70.162c7.792,7.829,20.455,7.859,28.284,0.067C381.939,130.878,381.966,118.214,374.176,110.386z" />
					</svg> -->
				</th>
				<th class="responsive-table__head__title responsive-table__head__title--status">Date</th>
				<th class="responsive-table__head__title responsive-table__head__title--types">Day</th>
				<th class="responsive-table__head__title responsive-table__head__title--update">time</th>
				<th class="responsive-table__head__title responsive-table__head__title--country">Mentor Name</th>
			</tr>
		</thead>
		
		<tbody class="responsive-table__body">
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
					
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">Monday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">7:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Anu Jain</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
		</tbody>
	</table>

	<h2 style="text-align: center;">Previously Booked sessions</h2>

	<table class="responsive-table">
		
		<thead class="responsive-table__head">
			<tr class="responsive-table__row">
				<th class="responsive-table__head__title responsive-table__head__title--name">Month
					<!-- <svg version="1.1" class="up-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
						<path d="M374.176,110.386l-104-104.504c-0.006-0.006-0.013-0.011-0.019-0.018c-7.818-7.832-20.522-7.807-28.314,0.002c-0.006,0.006-0.013,0.011-0.019,0.018l-104,104.504c-7.791,7.829-7.762,20.493,0.068,28.285    c7.829,7.792,20.492,7.762,28.284-0.067L236,68.442V492c0,11.046,8.954,20,20,20c11.046,0,20-8.954,20-20V68.442l69.824,70.162c7.792,7.829,20.455,7.859,28.284,0.067C381.939,130.878,381.966,118.214,374.176,110.386z" />
					</svg> -->
				</th>
				<th class="responsive-table__head__title responsive-table__head__title--status">Date</th>
				<th class="responsive-table__head__title responsive-table__head__title--types">Day</th>
				<th class="responsive-table__head__title responsive-table__head__title--update">time</th>
				<th class="responsive-table__head__title responsive-table__head__title--country">Mentor Name</th>
			</tr>
		</thead>
		
		<tbody class="responsive-table__body">
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
					
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">Monday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">7:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Anu Jain</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
			<tr class="responsive-table__row">
				<td class="responsive-table__body__text responsive-table__body__text--name">
				
					May
				</td>
				<td class="responsive-table__body__text responsive-table__body__text--status">14</td>
				<td class="responsive-table__body__text responsive-table__body__text--types">maonday</td>
				<td class="responsive-table__body__text responsive-table__body__text--update">8:00pm</td>
				<td class="responsive-table__body__text responsive-table__body__text--country">Pulkit</td>
			</tr>
		</tbody>
	</table>
</div>


