<div
  style="background-color: rgb(234, 240, 246)"
  style="margin-top: -3.3%; margin-bottom: -2.5%"
>
  <p
    style="
      font-size: 44px;
      text-align: center;
      color: rgb(42, 42, 87);
      margin-top: 16vh;
    "
  >
    <b>My Dashboard</b>
  </p>
  <div>
    <div class="card" style="height: 30%; width: 50%; margin-top: 2%">
      <!-- <img src="profile-picture.jpg" alt="" /> -->
      <img src="{{ userData.profile_pic }}" alt="" class="card-image" />
      <div class="profile-info">
        <h2>{{ userData.first_name }} {{ userData.last_name }}</h2>
        <p>{{ userData.i_am_a }}</p>
        <p>Phone: {{ userData.username }}</p>
        <p>Email: {{ userData.email }}</p>
        <br /><br />
        <button>
          <a href="tru/my-profile" style="color: white; text-decoration: none"
            >Go to My Profile</a
          >
        </button>
      </div>
    </div>

    <div class="container" style="padding-bottom: 3%">
      <h2 style="text-align: center; margin-top: 3%">Booked Sessions</h2>

      <table class="responsive-table">
        <thead class="responsive-table__head">
          <tr class="responsive-table__row">
            <!-- <th
              class="responsive-table__head__title responsive-table__head__title--name"
            >
              Month
            
            </th> -->
            <th
              class="responsive-table__head__title responsive-table__head__title--status"
            >
              Date and Time
            </th>
            <!-- <th
              class="responsive-table__head__title responsive-table__head__title--types"
            >
              Day
            </th> -->
            <th
              class="responsive-table__head__title responsive-table__head__title--update"
            >
              Mentor Name
            </th>
            <th
              class="responsive-table__head__title responsive-table__head__title--country"
            >
              Meet link
            </th>
            <th
              class="responsive-table__head__title responsive-table__head__title--country"
            >
              Mentor Contact Number
            </th>
          </tr>
        </thead>

        <tbody class="responsive-table__body">
          <tr class="responsive-table__row" *ngFor="let session of sessionData">
            <!-- <td
              class="responsive-table__body__text responsive-table__body__text--name"
            >
              May
            </td> -->
            <td
              class="responsive-table__body__text responsive-table__body__text--status"
            >
              {{ session.date }}
            </td>

            <td
              class="responsive-table__body__text responsive-table__body__text--update"
            >
              {{ session.mentor }}
            </td>

            <td
              class="responsive-table__body__text responsive-table__body__text--country"
            >
              <ng-container *ngIf="session.meet_link == ''; else meetLinkBlock">
                link unavailable
              </ng-container>
              <ng-template #meetLinkBlock>
                <a href="{{ session.meet_link }}"
                  ><button>Join</button></a
                >
              </ng-template>
            </td>

            <td
              class="responsive-table__body__text responsive-table__body__text--types"
            >
              {{ session.contact }}
            </td>
          </tr>
        </tbody>
      </table>

      <!-- <h2 style="text-align: center">Previously Booked sessions</h2>

      <table class="responsive-table">
        <thead class="responsive-table__head">
          <tr class="responsive-table__row">
          ]
            <th
              class="responsive-table__head__title responsive-table__head__title--status"
            >
              Date
            </th>
           
            <th
              class="responsive-table__head__title responsive-table__head__title--update"
            >
              time
            </th>
            <th
              class="responsive-table__head__title responsive-table__head__title--country"
            >
              Mentor Name
            </th>
          </tr>
        </thead>

        <tbody class="responsive-table__body">
          <tr class="responsive-table__row">
          
            <td
              class="responsive-table__body__text responsive-table__body__text--status"
            >
              14
            </td>
            
            <td
              class="responsive-table__body__text responsive-table__body__text--update"
            >
              7:00pm
            </td>
            <td
              class="responsive-table__body__text responsive-table__body__text--country"
            >
              Anu Jain
            </td>
          </tr>
          <tr class="responsive-table__row">
           
            <td
              class="responsive-table__body__text responsive-table__body__text--status"
            >
              14
            </td>
           
            <td
              class="responsive-table__body__text responsive-table__body__text--update"
            >
              8:00pm
            </td>
            <td
              class="responsive-table__body__text responsive-table__body__text--country"
            >
              Pulkit
            </td>
          </tr>
          
        </tbody>
      </table> -->
    </div>
  </div>
</div>
