.footer{
    /* position:fixed; */
    bottom: 0;
    padding: 0;
    width: 100%;
    top: 0;
}
.icons{
    /* margin-right: 2%; */
}
a{
    text-decoration: none;
    /* margin-left: 10%; */
}

@font-face {
    font-family: 'Gilroy';
    src: url('../../../../../assets/Gilroy-ExtraBold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Gilroy';
    src: url('../../../../../assets/Gilroy-Light.otf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }