  <div class="one">
    <!-- <section class="video-container">
      <video src="../../../../../assets/main_page_2.mp4" autoplay loop playsinline muted></video>
      <div class="callout">
        <P style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; color: pink; margin-top: 35%; font-size: 54PX;">We are REVOLUTIONIZING the way you make your CAREER DECISIONS
        </P>

      </div>
     
    </section> -->
    
      <video src="../../../../../assets/main_page_2.mp4" style="height: 100%; width: 100%;" autoplay loop playsinline muted></video>
      <div class="maintext" style="">
      <P style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; color: pink; margin-top: 3%; font-size: 64PX; text-align: center;">We are REVOLUTIONIZING the way</P><br><P style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; color: pink;  font-size: 64PX; text-align: center; margin-top: -6%;"> you make your CAREER DECISIONS</P>
    </div>
    
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 dist">
        <div>
          <i class="fa fa-handshake-o" style="font-size: 3.5em;text-align: center; margin-left: 30%;"></i>
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 26px; color: #5b0000;">Learn from people's</p> <p style="font-size: 44px; margin-top: -10%; color: #5b0000;"><b>Experiences</b></p>
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 20px; margin-top: -4%;">
           <b> Connect with people who have already walked the career path you wish<br> to walk.</b>
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 dist">
        <div>
          <i class="fa fa-comments" style="font-size: 3.5em;text-align: center; margin-left: 30%;"></i>
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 26px; color: #5b0000">
            Real Conversations </p> <br />
            <p  style="font-size: 40px; margin-top: -16%; color: #5b0000; "><b>Great People</b></p>
         
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 19px; margin-top: -4%;">
           <b>All connections are through video. All our "Mentors" have been verified by us and have had inspiring journeys.</b>
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 3.5%">
        <div>
          <i class="fa fa-lock" style="font-size: 3.5em; text-align: center; margin-left: 30%;"></i>
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 28px; color: #5b0000;">Conversations are</p> <p style="font-size: 40px; margin-top: -7%; color: #5b0000;"><b> Confidential</b></p>
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 20px; margin-top: -4%;">
         <b>All conversations on Trubuddyy are completely protected by our privacy protocols.</b>
          </p>
        </div>
      </div>
    </div>
  
    <div class="back">
      <h2 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Connect with relevent mentors:</h2>
      <div style="margin-top: 3.5%">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <a (click)="showPersonDetails(items[0].id)"
                  ><img
                    class="img-fluid"
                    src="{{'data:image/jpeg;base64,'+items[0].profile_pic}}"
                /></a>
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[0].full_name }}</h3>
                <h4 class="title">{{ items[0].job }}</h4>
              </div>
         
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[1].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[1].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[1].full_name }}</h3>
                <h4 class="title">{{ items[1].job }}</h4>
              </div>
           
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[0].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[0].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[0].full_name }}</h3>
                <h4 class="title">{{ items[0].job }}</h4>
              </div>
           
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[1].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[1].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[1].full_name }}</h3>
                <h4 class="title">{{ items[1].job }}</h4>
              </div>
          
            </div>
          </div>
        </div>
      </div>
      <a href="/tru/mentors"><button class="button-71" role="button" type="button">
        View all mentors
      </button></a>
    </div>
  
    <div>
      <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; font-size: 10px; text-align: center; font-size: 22px; color: rgb(27, 27, 95); margin-top: 4%; font-size: 54px; margin-top: -0%;">Our Community Mentors come's from </p>
      <!-- brands  -->
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="../../../../../assets/IITB.jpg" height="70" width="200" alt="" style="margin-left: 3%;"/>
          </div>
          <div class="slide">
            <img src="../../../../../assets/CA.jpg" height="70" width="200" alt="" style="margin-left: 3%;"/>
          </div>
          <div class="slide">
            <img src="../../../../../assets/AIIMS.jpg" height="70" width="200" alt="" style="margin-left: 3%;" />
          </div>
          <div class="slide">
            <img src="../../../../../assets/ACCA.jpg" height="70" width="250" alt="" style="margin-left: 3%;"/>
          </div>
          <!-- <div class="slide">
            <img src="../../../../../assets/BCG.jpg" height="100" width="200" alt="" style="margin-left: 10%;"/>
          </div> -->
          <div class="slide">
            <img src="../../../../../assets/Deloitte.jpg" height="70" width="200" alt="" style="margin-left: 12%;"/>
          </div>
          <div class="slide">
            <img src="../../../../../assets/GSMC.jpg" height="100" width="200" alt="" style="margin-left: 3%;"/>
          </div>
          <div class="slide">
            <img src="../../../../../assets/Harvard.jpg" height="100" width="200" alt="" style="margin-left: 3%;"/>
          </div>
          <div class="slide">
            <img src="../../../../../assets/KPMG.jpg" height="70" width="200" alt="" style="margin-left: 3%;"/>
          </div>
          <!-- <div class="slide">
            <img src="../../../../../assets/" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
          </div> -->
        </div>
      </div>
    </div>
  
    <div class="feedback">
      <h1 style="text-align: center; color: #5b0000; ">People love Trubuddyy <span style="font-size: 74px; margin-top: 2%;"> &#10084;</span></h1>
      <div class="row">
        <div class="testimonial">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                <div style="font-size: 85px; color: rgb(248, 178, 97); margin-right: 100%; margin-top: 4%; "> &ldquo; </div>
                <p style="text-align: left; color: #5b0000;">
                  It is an outstanding platform and i love using it. It has not only helped me but also my friends to get clarification on different educational fields and courses.
              </p>
              <br><br>
                <!-- <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div> -->
                <p style="margin-right: 100%; white-space: nowrap; margin-top: -13%;"><b style="color: rgb(35, 35, 78);"> - Anuradha Banka</b></p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                <div style="font-size: 85px; color: rgb(248, 178, 97); margin-right: 100%; margin-top: 4%;  "> &ldquo; </div>
                <p style="text-align: left; color: #5b0000;">
                  What makes Trubuddyy stand apart is it’s simplicity. Anyone who has doubts regarding their career choices can get clarity from a professional of that particular field in a click of a button.
              </p>
                <!-- <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div> -->
                <p style="margin-right: 100%; white-space: nowrap"><b style="color: rgb(35, 35, 78);"> - Anshul Dalmia</b></p>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                  <div style="font-size: 85px; color: rgb(248, 178, 97); margin-right: 100%; margin-top: 4%; "> &ldquo; </div>
                  <p style="text-align: left; color: #5b0000;">
                    Rahul was the best! He was patient as I asked him multiple questions. He made the whole conversation flow very smoothly. I felt that he was genuine and honest and it was an very insightful session.
                </p>
                  <!-- <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div> -->
                  <p style="margin-right: 100%; white-space: nowrap"><b style="color: rgb(35, 35, 78);"> - Usha Mahesh</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
