@import url('https://fonts.googleapis.com/css?family=Lato:100');


body {
  height: 100%;
  /* margin: 0; */
  /* padding: 0; */
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0 auto;
  color: white; 
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
}

.Color-Animation {
  width: 100%;
  height: 100%;  
  display: flex;
  align-items: center;
  text-align: center;
  animation: changeBackgroundColor 7s infinite;
  /* margin-bottom: 1%; */
  margin-top: 0.5%;  
}

@keyframes changeBackgroundColor {
  0% {
    background-color: #001F3F;
  }
  50% {
    background-color: #FF4136;
  }
  100% {
    background-color: #001F3F;
  }
}

.movement {
    display: flex;
    min-height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    /* background-color: #bfdfec; */
    font-family: system-ui, calibri, serif;
    background-repeat: repeat-x;
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReXErzBS7diUM2lu4rTnNbst2v_eFbbgAyiYTx7k3MFA&s"); */
    animation: movement 10s linear infinite;
  }
  
  @keyframes movement {
    0% {
      background-position: 0px 0px;
    }
    100% {
      background-position: 560px 0px;
    }
  }

  /* new  */
  .callout {
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
    width: 70%;
    margin:auto;
   
  }

  .outter.hero-video{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    
  }
  @media (max-width: 767px) {
    .outter.hero-video{
    height: 400px;}
  }
  
  /* .hero-video { */
    
  .video-container {
    height: 550px;
    width:100%;
    position: relative;
    overflow: hidden;
   
  }
  @media (max-width: 767px) {
    .video-container{
    height: 400px;}
  }
  
  video {
    object-fit: cover; 
    position: absolute;
    height: 600px;
    width: 100%;
    top: 0;
    left: 0;
    
  }

  @media (max-width: 767px) {
    video{
    height: 400px;}
  }
  
  
  .video-container:after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(black, .2);
    z-index: 1;
  }
  
  h1 {
    /* text-transform: uppercase; */
    margin: 0 0 1rem;
    padding: 0;
    line-height: 1;
    color: white;
   
  }
  @media (max-width: 767px) {
    h1{
    /* font-size: 32px; */
    margin-top: 10%;
    font-size: 26px
      }
 }

  @media (min-width: 768px) {
    h1{
    font-size: 52px;}
  }



  /*circles css background*/
  

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

.row{
  /* margin-left: 6%; */
  margin-left: 3%;
  margin-right: 3%;

}
.dist{
  margin-right: 10%;
  margin-top: 3.5%;
}
h3{
  color: #7b1b23;
  margin-top: 2%;
}

/* cards  */
p{
  margin: auto;
  margin-left: 1%;
  margin-bottom: 2.5%;
} 

body {
  font-family: tahoma;
  height: 100vh;
  background-image: url(https://picsum.photos/g/3000/2000);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
  /* overflow: hidden; */
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #1369ce;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #1369ce;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #1369ce;
  background-color: #f7f5ec;
}
.our-team{
  border-radius: 12px;
}

.back{
  background-color: #feaca8;
  margin-top: 6.5%;
}

.back h2{
  text-align: center;
}


/*  */

/* CSS */
.button-71 {
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 40%;
  margin-bottom: 5%;
}

.button-71:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

.button-71:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .button-71 {
    padding: 16px 48px;
    
  }
}
a{
  color: white;
  text-decoration: none;
}
@media (max-width: 768px){
  .button-71{
    margin-left: 25%;
  }
}

/* @import "animate.css"; */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.testimonial {
  /* display: flex; */
  width: 100%;
  height: 100%;
  /* align-items: center; */
  justify-content: center;
  padding-top: 3%;
  padding-bottom: 5%;
  overflow: hidden;
  position: relative;
}

@media (min-width:768px){
  .testimonial{
    display: flex;
  }
}


.feedback{
  background-color: #f6f1f1;
  padding-top: 4%;
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100%; */
}


.testimonial-cards {
  /* max-width: 280px; */
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 18px;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  border-radius: 10px;
}
.testimonial-cards img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 100%;
  object-fit: cover;
}

.review {
  font-size: 15px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
}

.testimonial-cards:hover {
  background: black;
  color: white;
  border: 5px solid white;
  transform: scale(1.1);
  transition: all 0.5s ease;
}

/* brands scroll  */
body {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-250px * 7));
 }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 95%;
  margin-bottom: 4%;
  margin-top: 35;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}



