  <div class="one">
    <section class="video-container">
      <video src="../../../../../assets/main_page_2.mp4" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important; color: rgb(216, 212, 212);">We are revolutionizing the way you make your career decisions.
        </h1>

      </div>
     
    </section>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 dist">
        <div>
          <i class="fa fa-handshake-o" style="font-size: 3.5em;text-align: center; margin-left: 30%;"></i>
          <h3 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Learn from the Experienced peoples</h3>
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            inventore sunt modi quaerat laborum iusto temporibus, quis id non
            impedit!
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 dist">
        <div>
          <i class="fa fa-comments" style="font-size: 3.5em;text-align: center; margin-left: 30%;"></i>
          <h3 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
            Real Conversations. <br />
            Amazing people
          </h3>
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            inventore sunt modi quaerat laborum iusto temporibus, quis id non
            impedit!
          </p>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" style="margin-top: 3.5%">
        <div>
          <i class="fa fa-lock" style="font-size: 3.5em; text-align: center; margin-left: 30%;"></i>
          <h3 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Conversations are completely confidential</h3>
          <br />
          <p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit
            inventore sunt modi quaerat laborum iusto temporibus, quis id non
            impedit!
          </p>
        </div>
      </div>
    </div>
  
    <div class="back">
      <h2 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Connect with relevent mentors:</h2>
      <div style="margin-top: 3.5%">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <a (click)="showPersonDetails(items[0].id)"
                  ><img
                    class="img-fluid"
                    src="{{'data:image/jpeg;base64,'+items[0].profile_pic}}"
                /></a>
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[0].full_name }}</h3>
                <h4 class="title">{{ items[0].job }}</h4>
              </div>
         
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[1].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[1].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[1].full_name }}</h3>
                <h4 class="title">{{ items[1].job }}</h4>
              </div>
           
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[0].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[0].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[0].full_name }}</h3>
                <h4 class="title">{{ items[0].job }}</h4>
              </div>
           
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img (click)="showPersonDetails(items[1].id)"
                  class="img-fluid"
                  src="{{'data:image/jpeg;base64,'+items[1].profile_pic}}"
                />
              </div>
              <div class="team-content">
                <h3 class="name">{{ items[1].full_name }}</h3>
                <h4 class="title">{{ items[1].job }}</h4>
              </div>
          
            </div>
          </div>
        </div>
      </div>
      <a href="/tru/mentors"><button class="button-71" role="button" type="button">
        View all mentors
      </button></a>
    </div>
  
    <div>
      <p style="font-family: sans-serif; font-size: 10px; text-align: center; font-size: 22px; color: #3d3d3d; margin-top: 4%;"><b>Our community mentors come from: </b></p>
      <!-- brands  -->
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png" height="100" width="250" alt="" />
          </div>
          <div class="slide">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png" height="100" width="250" alt="" />
          </div>
        </div>
      </div>
    </div>
  
    <div class="feedback">
      <h1 style="text-align: center; color: rgb(17, 17, 62);">People love Trubuddyy &#10084;</h1>
      <div class="row">
        <div class="testimonial">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                <div style="font-size: 44px; color: rgb(240, 186, 37); margin-right: 100%; "> &ldquo; </div>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pretium fusce id velit ut tortor.
              </p>
                <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div>
                <p style="margin-right: 100%;">Mayur</p>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                <div style="font-size: 44px; color: rgb(240, 186, 37); margin-right: 100%; "> &ldquo; </div>
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Pretium fusce id velit ut tortor.
              </p>
                <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div>
                <p style="margin-right: 100%;">Mayur</p>
              </div>
            </div>
          </div>
  
          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="testimonial-cards">
              <!-- <img
                src="https://images.unsplash.com/photo-1528892952291-009c663ce843?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D&auto=format&fit=crop&w=400&q=60"
              /> -->
              <div class="review">
                  <div style="font-size: 44px; color: rgb(240, 186, 37); margin-right: 100%; "> &ldquo; </div>
                  <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Pretium fusce id velit ut tortor.
                </p>
                  <div style="font-size: 44px; color: rgb(240, 186, 37); margin-left: 100%;">&rdquo;</div>
                  <p style="margin-right: 100%;">Mayur</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
