<div style="margin-top: 10vh; background-color: #f7f7f7;">
  <section class="outter hero-video">
    <section class="video-container">
      <video
        src="../../../../../assets/graduates_vid.mp4"
        autoplay
        loop
        playsinline
        muted
      ></video>
      <div class="callout">
        <h1
          style="
            font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen,
              Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial,
              sans-serif !important;
          "
        >
          Mentoring for college graduates to help them start their career
          journey on the RIGHT TRACK.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/mentors" style="margin-top: 6%"
          >Book 1:1 session</a
        >
      </div>
    </section>
  </section>
  <p
    style="
      font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
      font-size: 34px;
      color: rgb(43, 43, 134);
    "
  >
    Choose the right path forward.
  </p>

  <p
    style="
      font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
      margin-left: 5%;
      margin-right: 5%;
    "
  >
    Wondering which Elective or Specialization to choose in college?
    <br />Unsure about which Placement Opportunities to prepare for, or which
    Master’s Program to enrol in? <br />Looking for guidance on what Job roles
    to apply for after graduation? <br />
    <b
      >Let Trubuddyy help you answer these tough questions and finalize your
      post-college plans. Our experienced mentors will guide you through the
      process and help you make informed decisions that will set you up for a
      successful career.</b
    >
  </p>

  <img
    style="
      text-align: center;
      align-items: center;
      margin-left: 17%;
      width: 65%;
      height: 65%;
    "
    src="../../../../../assets/professional_chart.jpg"
  />
  <p
    style="
      font-family: Gilroy, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
        Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif !important;
      margin-left: 5%;
      margin-right: 5%;
    "
  >
    <b>
      While taking the road less travelled can be exciting, sometimes it's more
      important to seek guidance from the right person to make all the
      difference. Don't hesitate to ask for help and advice when it comes to
      choosing your path in life. By connecting with mentors who have already
      walked the path you're considering, you can gain valuable insights and
      make informed decisions that will set you on the right track towards
      success and fulfilment.</b
    >
  </p>
<div class="callout">
  <a class="button" href="/tru/mentors" style="margin-top: 3%;  margin-bottom: 7%;"
  >Book 1:1 Mentoring session</a
>
</div>
</div>
