<!-- 
<div class="context">
    <h1>Pure Css Animated Background</h1>
</div>


<div class="area" >
<ul class="circles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div > -->

<!-- <div class="bg"></div>
<div class="context">
    <p><b>Mentoring for college graduates to help them start their career journey on the right track.</b></p> 
    <video width="" height="" controls>
        <source src="/src/assets/videos/firstVid.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
      </video>
    <p>Choose the right path forward</p>
    <p>Wondering which elective or specialization to choose in college? Unsure about which placement opportunities to prepare for, or which master’s program to enrol in? Looking for guidance on what job roles to apply for after graduation? Let Trubuddyy help you answer these tough questions and finalize your post-college plans. Our experienced mentors will guide you through the process and help you make informed decisions that will set you up for a successful career.</p>
    <p>While taking the road less travelled can be exciting, sometimes it's more important to seek guidance from the right person to make all the difference. Don't hesitate to ask for help and advice when it comes to choosing your path in life. By connecting with mentors who have already walked the path you're considering, you can gain valuable insights and make informed decisions that will set you on the right track towards success and fulfilment.
    </p>
    
</div> -->

<section class="outter hero-video">
    <section class="video-container">
      <video src="https://cdn.shopify.com/s/files/1/1463/8748/files/54ed8c2510027bcfd981767b551eb733.mp4?v=1591041687" autoplay loop playsinline muted></video>
      <div class="callout">
        <h1>Mentoring for parents to discover their child's full potential by exploring the latest and correct career opportunities.
        </h1>
        <!-- <div class="desc">An optional description</div> -->
        <a class="button" href="/tru/mentors">Book 1:1 session</a>
      </div>
     
    </section>
    
    </section>
    <p>Help your child make the right & informed career choice.</p>
    <p>Empower your child to make informed decisions about their career with the help of our TRUBUDDYY Mentoring. Our mentors provide guidance and support to you and your child, help explore their interests, strengths, and different career options. With TRUBUDDYY, you and your child can make the right choice for their future.</p>
    <p>Don't leave your child’s future to faith or grades alone. Invest in Trubuddyy mentoring to uncover your child’s true potential and find the career path that's right for them. With the help of experienced professionals and mentors, you both can gain a better understanding of your child’s strengths and passions, and make informed decisions that will set them up for success in the long run.</p>
