
<div style="margin-top: 10vh;">
<section class="outter hero-video" >
  <section class="video-container">
    <video
      src="../../../../../assets/graduates_vid.mp4"
      autoplay
      loop
      playsinline
      muted
    ></video>
    <div class="callout">
      <h1 style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
        Mentoring for college graduates to help them start their career journey on the right track.

      </h1>
      <!-- <div class="desc">An optional description</div> -->
      <a class="button" href="/tru/mentors">Book 1:1 session</a>
    </div>
  </section>
</section>
<p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">Choose the right path forward.</p>
<p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
  Wondering which elective or specialization to choose in college? Unsure about which placement opportunities to prepare for, or which master’s program to enrol in? Looking for guidance on what job roles to apply for after graduation? Let Trubuddyy help you answer these tough questions and finalize your post-college plans. Our experienced mentors will guide you through the process and help you make informed decisions that will set you up for a successful career.

</p>
<p style="font-family: Gilroy,-apple-system,BlinkMacSystemFont,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif!important;">
  While taking the road less travelled can be exciting, sometimes it's more important to seek guidance from the right person to make all the difference. Don't hesitate to ask for help and advice when it comes to choosing your path in life. By connecting with mentors who have already walked the path you're considering, you can gain valuable insights and make informed decisions that will set you on the right track towards success and fulfilment.

</p>
</div>
