<h1>Education and Job Experience</h1>
<form
  id="experienceForm"
  #educationJobForm="ngForm"
  
>
<!-- (ngSubmit)="onSubmit(educationJobForm)" -->
  <div id="entriesContainer">
    <div>
      <h4>10TH STANDARD</h4>
      <label for="board">BOARD</label>
      <input type="text" name="board" id="board10" [value]="schoolData[0]?.board" required />
      <label for="school">SCHOOL</label>
      <input type="text" name="school" id="school10" [value]="schoolData[0]?.school" required />
      <label for="marks">MARKS</label>
      <input type="text" name="marks" id="marks10" [value]="schoolData[0]?.marks" required />
      <label for="year">YEAR</label>
      <input type="text" name="year" id="year10" [value]="schoolData[0]?.year" required />
      <br />
      <br />
      <h4>12TH STANDARD</h4>
      <label for="board">BOARD</label>
      <input type="text" name="board" id="board12" [value]="schoolData[1]?.board" required />
      <label for="school">SCHOOL</label>
      <input type="text" name="school" id="school12" [value]="schoolData[1]?.school" required />
      <label for="marks">MARKS</label>
      <input type="text" name="marks" id="marks12" [value]="schoolData[1]?.marks" required />
      <label for="year">YEAR</label>
      <input type="text" name="year" id="year12" [value]="schoolData[1]?.year" required />
      <br />
      <br />
      <h4>GRADUATION</h4>
      <label for="degree">DEGREE</label>
      <input type="text" name="degree" id="degree_grad" [value]="higherEducation[0]?.degree" required />
      <label for="university">UNIVERSITY</label>
      <input type="text" name="university" id="university_grad" [value]="higherEducation[0]?.school" required />
      <label for="marks">MARKS</label>
      <input type="text" name="marks" id="marks_grad" [value]="higherEducation[0]?.marks" required />
      <label for="year">YEAR</label>
      <input type="text" name="year" id="year_grad" [value]="higherEducation[0]?.year" required />
      <br />
      <br />
      <h4>POST GRADUATION</h4>
      <label for="degree">DEGREE</label>
      <input type="text" name="degree" id="degree_postgrad" [value]="higherEducation[1]?.degree" required />
      <label for="university">UNIVERSITY</label>
      <input type="text" name="university" id="university_postgrad" [value]="higherEducation[1]?.school" required />
      <label for="marks">MARKS</label>
      <input type="text" name="marks" id="marks_postgrad" [value]="higherEducation[1]?.marks" required />
      <label for="year">YEAR</label>
      <input type="text" name="year" id="year_postgrad" [value]="higherEducation[1]?.year" required />
      <br />
      <br />
      <h4>PROFESSIONAL DEGREE</h4>
      <label for="degree">DEGREE</label>
      <input type="text" name="degree" id="degree_prof" [value]="higherEducation[2]?.degree" required />
      <label for="school">CONDUCTING BODY</label>
      <input type="text" name="school" id="school_prof" [value]="higherEducation[2]?.school" required />
      <label for="marks">MARKS</label>
      <input type="text" name="marks" id="marks_prof" [value]="higherEducation[2]?.marks" required />
      <label for="year">YEAR</label>
      <input type="text" name="year" id="year_prof" [value]="higherEducation[2]?.year" required />

      <br /><br />
      <div class="entry">
        <h4>JOB EXPERIANCE:</h4>

        <!-- <label for="company">COMPANY </label>
        <input type="text" name="company" id="company" required />
        <label for="job">JOB TITLE </label>
        <input type="text" name="job" id="job" required />
        <label for="desc">JOB DESCRIPTION </label>
        <input type="text" name="desc" id="desc" required />
        <label for="duration">DURATION </label>
        <input type="text" name="duration" id="duration" required />
        <button type="button" (click)="removeWorkExperience(i)">Remove Experience</button> -->
        <div id="workExperienceForm">
          <div
            class="work-experience"
            *ngFor="let experience of workExperiences; let i = index"
          >
            <h3>Work Experience {{ i + 1 }}</h3>
            <div>
              <label for="company{{ i }}">Company:</label>
              <input type="text" id="company{{ i }}" [value]="experience.company" />
            </div>
            <div>
              <label for="job{{ i }}">Job:</label>
              <input type="text" id="job{{ i }}" [value]="experience.job" />
            </div>
            <div>
              <label for="description{{ i }}">Description:</label>
              <input type="text" id="description{{ i }}" [value]="experience.description"/>
            </div>
            <div>
              <label for="duration{{ i }}">Duration:</label>
              <input type="text" id="duration{{ i }}" [value]="experience.duration"/>
            </div>
            <button type="button" (click)="removeWorkExperience(i)">
              Remove Experience
            </button>
          </div>

          <button type="button" (click)="addWorkExperience()">
            Add Work Experience
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- <button type="button" (click)="addEntry()">Add More</button> -->
  <br />
  <br />
  <!-- <input type="submit" class="button" value="Submit" /> -->
  <button type="button" (click)="submitForm()">Submit</button>
</form>
